.location__container {
  width: 100%;
  height: 423px;
  border-radius: 30px;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .location__container {
    height: 415px;
  }
}
