/*Кнопка сохранить*/
.popup__button {
  background: #000000;
  border-radius: 2px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  width: 100%;
  min-height: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
}
.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 600px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    margin: 45px 0 0;
    min-height: 46px;
  }
}
