.gallery__image {
  display: block;
  aspect-ratio: 1/1;
  border-radius: 30px;
  width: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1000px) {
  .gallery__image {
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 900px) {
  .gallery__image {
    display: inline-block;
    border-radius: 30px;
    height: 100%;
    object-fit: cover;
  }
}
