.footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #8e8e8e;
  max-width: 151px;
}

@media screen and (max-width: 600px) {
  .footer__text {
    font-size: 15px;
  }
}
