.header__button {
  overflow: hidden;
  opacity: 0;
  display: none;
  cursor: pointer;
}

.header__button:hover {
  opacity: 80%;
}

@media screen and (max-width: 900px) {
  .header__button {
    overflow: visible;
    opacity: 1;
    display: block;
  }
}
