.banner__button-paging {
  position: absolute;
  top: 50%;
  cursor: pointer;
}

.banner__button-paging_place_right {
  left: calc(-37px * 2);
}

.banner__button-paging_place_left {
  left: calc(100% + 37px / 2);
}

.banner__button-paging:hover svg circle {
  fill: #f15525;
}

.banner__button-paging:hover svg path {
  fill: #ffffff;
}

@media screen and (max-width: 600px) {
  .banner__button-paging {
    display: none;
    overflow: hidden;
    opacity: 0;
    cursor: auto;
  }
  .banner__button-paging_place_right {
    left: calc(-100%);
  }

  .banner__button-paging_place_left {
    left: calc(-100%);
  }
}
