.description__item-text {
  margin: 10px auto 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #22253b;
  height: 49px;
}

@media screen and (max-width: 600px) {
  .description__item-text {
    margin: 4px auto 0;
    font-size: 9px;
    line-height: 12px;
    height: none;
  }
}
