.banner__title {
  font-weight: 500;
  font-size: 46px;
  line-height: 46px;
  color: #22253b;
  max-width: 638px;
}

@media screen and (max-width: 1200px) {
  .banner__title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .banner__title {
    font-size: 24px;
    line-height: 24px;
    text-align: center;
  }
}
