.footer__items_direction_column {
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 900px) {
  .footer__items_direction_column {
    margin-top: 43px;
    justify-content: center;
    text-align: center;
  }
}
